<div class="container text-center">
  <h1>All cocktails with <%= @ingredient.name %></h1>
  <ul>
    <% @cocktails.each do |cock| %>
      <li> <%= link_to cock.name, cocktail_path(cock) %> </li>
    <% end %>
  </ul>
</div>
